<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <form action="deletion/" class="box" method="post">
        {% csrf_token %}
        <h1>Welcome to Delete Page!</h1>
        <h1>{{data}}</h1>
        <input type="text" name="username" placeholder="Username">
        <input type="submit" name="Delete">
    </form>
</head>
<body>